@font-face {
    font-family: 'Outfit';
    src: url(fonts/Outfit.ttf);
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.infoheader {
    color: hsl(218, 44%, 22%);
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}
.infocontent {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
}
.qrcode {
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 288px;
    height: 465px;
    padding: 15px;
    margin: 100px auto 10px;
}
.info {
    margin: 20px auto;
    width: 250px;
    text-align: center;
}
img {
    border-radius: 10px;
}